/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

.char-overlay {
  font-family: "Helvetica"; /* Your font family */
  font-size: x-large;
  font-weight: bold;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*---------------------------------------------*/
.container {
  max-width: 1200px;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*background-image: url("../images/background/musicBackground.jpg"); !* The image used *!*/
  /*background-color: #878183; !* Used if the image is unavailable *!*/
  /*height: 500px;  You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-size: 100% 100%;
}

.container-researcher-edit {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /*background-image: url("../images/background/musicBackground.jpg"); !* The image used *!*/
  /*background-color: #878183; !* Used if the image is unavailable *!*/
  /*height: 500px;  You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-size: 100% 100%;
}

.wrap-contact100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

.wrap-contact800 {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

.wrap-contact1100 {
  width: 1100px;
  background: #fff;
  border-radius: 10px;
  overflow: vis;
  padding: 42px 55px 45px 55px;
}

.wrap-contact1100-mobile {
  width: 1100px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 25px 45px 25px;
}

.container-section-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.container-section {
  width: 100%;
  background: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #d6d6c2;
  border-radius: 10px;
  overflow: visible !important;
  padding: 10px 10px 10px 10px;
  padding-top: 13px;
}

/*------------------------------------------------------------------
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.contact100-form-title-mobile {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
}

.contact100-form-title-welcome {
  display: block;
  font-family: Arial, verdana;
  font-weight: bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.contact100-form-subTitle {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

table {
  text-align: left;
  width: 100%;
  /*table-layout:fixed;*/
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  color: #b01302;
  overflow: hidden;
  text-overflow: ellipsis;
}
#dwn-btn {
  color: #721c24;
  font-weight: bold;
  border: 2px solid #721c24;
  padding: 14px 28px;
  cursor: pointer;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #7f7f7f;
}

/*---------------------------------------------*/
input.input100 {
  height: 40px;
}

textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.wrap-contact100-form-btn {
  z-index: 0;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    90deg,
    #000000,
    #878183,
    #000000,
    #878183
  );
  background: -o-linear-gradient(90deg, #000000, #878183, #000000, #878183);
  background: -moz-linear-gradient(90deg, #000000, #878183, #000000, #878183);
  background: linear-gradient(90deg, #000000, #878183, #000000, #878183);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.user.contact100-form-bgbtn {
  background: -webkit-linear-gradient(
    90deg,
    #bc8803,
    #878183,
    #bc8803,
    #878183
  );
  background: -o-linear-gradient(90deg, #bc8803, #878183, #bc8803, #878183);
  background: -moz-linear-gradient(90deg, #bc8803, #878183, #bc8803, #878183);
  background: linear-gradient(90deg, #bc8803, #878183, #bc8803, #878183);
}

.admin.contact100-form-bgbtn {
  background: -webkit-linear-gradient(
    90deg,
    #85735f,
    #878183,
    #85735f,
    #878183
  );
  background: -o-linear-gradient(90deg, #85735f, #878183, #85735f, #878183);
  background: -moz-linear-gradient(90deg, #85735f, #878183, #85735f, #878183);
  background: linear-gradient(90deg, #85735f, #878183, #85735f, #878183);
}

.research.contact100-form-bgbtn {
  background: -webkit-linear-gradient(
    90deg,
    #712415,
    #878183,
    #712415,
    #878183
  );
  background: -o-linear-gradient(90deg, #712415, #878183, #712415, #878183);
  background: -moz-linear-gradient(90deg, #712415, #878183, #712415, #878183);
  background: linear-gradient(90deg, #712415, #878183, #712415, #878183);
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

/*back to prev page button*/

.container-contact100-back-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 70px;
  padding-bottom: 7px;
}

.wrap-contact100-back-btn {
  width: 8%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  /*margin-left:  200px ;*/
}

.contact100-back-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #f4594b;
  background: -webkit-linear-gradient(
    90deg,
    #000000,
    #878183,
    #000000,
    #878183
  );
  background: -o-linear-gradient(90deg, #000000, #878183, #000000, #878183);
  background: -moz-linear-gradient(90deg, #000000, #878183, #000000, #878183);
  background: linear-gradient(90deg, #000000, #878183, #000000, #878183);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-back-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 15px;
  width: 100%;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

/*===============*/

.container-contact100-return-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-top: 25px;
  padding-bottom: 0px;
}

.wrap-contact100-return-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.contact100-return-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    90deg,
    #004f75,
    #878183,
    #004f75,
    #878183
  );
  background: -o-linear-gradient(90deg, #004f75, #878183, #004f75, #878183);
  background: -moz-linear-gradient(90deg, #004f75, #878183, #004f75, #878183);
  background: linear-gradient(90deg, #004f75, #878183, #004f75, #878183);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact100-return-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.oldPerson-btn {
  background: transparent url("../images/btn/oldPerson.png") no-repeat right;
  border: 0;
  padding-right: 20px;
}

.group-btn {
  background: transparent url("../images/btn/group.jpg") no-repeat right;
  border: 0;
  padding-right: 20px;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Restyle Select2 ]*/

.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.select2-container .select2-selection--single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  height: 40px;
  outline: none;
  position: relative;
}

/*------------------------------------------------------------------
[ in select ]*/
.select2-container .select2-selection--single .select2-selection__rendered {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding-left: 5px;
  background-color: transparent;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select2-selection__arrow b {
  display: none;
}

.select2-selection__arrow::before {
  content: "";
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #999999;
  margin-bottom: 2px;
}

.select2-selection__arrow::after {
  content: "";
  display: block;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #999999;
}

/*------------------------------------------------------------------
[ Dropdown option ]*/
.select2-container--open .select2-dropdown {
  z-index: 1251;
  border: 0px solid #e5e5e5;
  border-radius: 0px;
  background-color: white;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.select2-dropdown--above {
  top: -30px;
}
.select2-dropdown--below {
  top: 8px;
}

.select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.select2-container .select2-results__option[aria-selected="true"] {
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #004f75, #878183);
  background: -o-linear-gradient(right, #004f75, #878183);
  background: -moz-linear-gradient(right, #004f75, #878183);
  background: linear-gradient(right, #004f75, #878183);
  color: white;
}

.select2-container .select2-results__option--highlighted[aria-selected] {
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #004f75, #878183);
  background: -o-linear-gradient(right, #004f75, #878183);
  background: -moz-linear-gradient(right, #004f75, #878183);
  background: linear-gradient(right, #004f75, #878183);
  color: white;
}

.select2-results__options {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

.select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #333333;
  line-height: 1.2;
}

.buttonDes {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 50%;
}

.grid-item {
  margin: 1em;
  display: flex;
  align-items: center;
}

.card-grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
}

.card-grid-item {
  margin: 1em;
  display: flex;
  align-items: center;
}

.view-research-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.grid-col-right {
  text-align: left !important;
}

.song-grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 1em;
  grid-template-columns: 40% 60%;
}

.song-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.music-guide-wrap-btn{
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.export-btn-container{
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.export-btn{
  font-weight: bold;
}

.export-btn:hover{
  color: darkgreen;
}

.item1 {
  text-align: left;
  margin-left: 3em;
}

.item1 label {
  font-size: 14pt;
  margin-left: 0.75em;
  font-family: Poppins-Regular;
  color: #666666;
  text-align: center;
}

.item2 {
  margin: 0.5em;
  height: 98%;
}

.item2 iframe{
  width: 115%;
  margin: -0.75em -0 -1em -2em;
}

.item3 {
  grid-column: span 2;
  direction: rtl;
  text-align: right;
  font-family: Poppins-Regular;
  font-size: 12pt;
}

.item3 textarea {
  text-align: right;
  direction: rtl;
  border-radius: 1em;
  background-color: #f3f3f3;
  width: -webkit-fill-available;
  padding: 0 5px;
}

.item3 label {
  font-size: 14pt;
  margin-left: 0.75em;
  font-family: Poppins-Regular;
  color: #666666;
  text-align: center;
}

.song-card-btn{
display: grid;
grid-template-columns: 10% 60% 20%;
justify-items: center;
gap: 4.5em;
}

.song-card-btn-container{
 
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
}

.register-btn{
  display: grid;
  grid-template-columns: 10% 60% 20%;
  justify-items: center;
  gap: 35.5em;
  }

.item4 #prev{
  text-align: left;
}

#endDate {
  margin-right: 00.5em;
}

.react-datepicker-wrapper {
  width: auto !important;
  margin-left: 0.5em;
}

.duration-container {
  display: contents;
}

.combobox {
  width: 20% !important;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
  align-items: baseline;
}

#hoursCombobox {
  margin-left: 1.65em;
  margin-top: 2em;
}

.duration-combobox {
  width: 20% !important;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: 1.65em;
  margin-top: 2em;
}

.react-datepicker__input-container {
  width: auto !important;
  cursor: pointer !important;
  border-style: solid;
  border-radius: 5em;
  border-color: #aaa;
}
:hover {
  cursor: pointer;
}

.react-datepicker__input-container input {
  border-radius: 5em;
  text-align: center;
  font-size: 10pt;
}

.react-datepicker-ignore-onclickoutside input {
  border-style: solid !important;
  border-color: #aaa !important;
}

#multiselectContainerReact li:hover {
  background-color: #dadada;
  color: #000000;
}
